
.header{
    border-bottom: solid thick black
}
.row-field{
    margin-bottom: 10px;    
}
.label{ 
    text-decoration: underline;
}
.field{
    border: solid thin gray;
    border-radius: 5px;
    margin-bottom: 10px;
}
.pessoa{
    border-left: solid thin gray;
    padding: 0;
    margin: 10px;
    
}
